@page
@model MRMS.Pages.Appointments.CreateModel

@{
    if (User.IsInRole("patient"))
    {
        ViewData["Title"] = "Request Appointment";
    }
    else
    {
        ViewData["Title"] = "Create Appointment";
    }
}

<h1>@ViewData["Title"]</h1>
<hr />
@if (User.IsInRole("patient"))
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-page-handler="DoctorDateSelection" id="selectDoctorDate">
                <div class="form-group">
                    <label asp-for="Appointment.PreferredDoctorId" class="control-label">Preferred Doctor</label>
                    <select asp-for="Appointment.PreferredDoctorId" class="form-control" id="preferredDoctorSelect" onchange="submitForm()">
                        <option value="">Select Doctor</option>
                        @foreach (var doctor in Model.Doctors)
                        {
                            <option value="@doctor.Id">@doctor.FirstName @doctor.LastName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Date</label>
                    <input type="date" asp-for="Date" class="form-control" id="dateInput" onchange="submitForm()" />
                </div>
            </form>
            <form method="post" asp-page-handler="OnPostAsync">
                <input asp-for="Appointment.PatientId" type="hidden"/>
                <input asp-for="Appointment.PreferredDoctorId" type="hidden"/>
                <input asp-for="Date" type="hidden"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (Model.AvailableTimeSlots != null)
                {
                    <div class="form-group">                   
                        <label asp-for="Time" class="control-label">Time</label>
                        <select asp-for="Time" class="form-control">
                            <option value="">Select Time</option>
                            @foreach (var time in Model.AvailableTimeSlots)
                            {
                                <option value="@time.StartTime">@time.StartTime.ToShortTimeString()</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Appointment.Reason" class="control-label"></label>
                    <input asp-for="Appointment.Reason" class="form-control" />
                    <span asp-validation-for="Appointment.Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.SpecialAccomodations" class="control-label"></label>
                    <input asp-for="Appointment.SpecialAccomodations" class="form-control" />
                    <span asp-validation-for="Appointment.SpecialAccomodations" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Appointment.PreferredDoctorId" class="control-label"></label>
                    <input asp-for="Appointment.PreferredDoctorId" class="form-control" />
                    <span asp-validation-for="Appointment.PreferredDoctorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.PatientId" class="control-label"></label>
                    <input asp-for="Appointment.PatientId" class="form-control" />
                    <span asp-validation-for="Appointment.PatientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.Reason" class="control-label"></label>
                    <input asp-for="Appointment.Reason" class="form-control" />
                    <span asp-validation-for="Appointment.Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.StartTime" class="control-label"></label>
                    <input asp-for="Appointment.StartTime" class="form-control" />
                    <span asp-validation-for="Appointment.StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.EndTime" class="control-label"></label>
                    <input asp-for="Appointment.EndTime" class="form-control" />
                    <span asp-validation-for="Appointment.EndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.SpecialAccomodations" class="control-label"></label>
                    <input asp-for="Appointment.SpecialAccomodations" class="form-control" />
                    <span asp-validation-for="Appointment.SpecialAccomodations" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-page="Index">Back to Appointments List</a>
</div>

<script>
    function submitForm() {
        var preferredDoctorSelect = document.getElementById('preferredDoctorSelect').value;
        var dateInput = document.getElementById('dateInput').value;

        if (preferredDoctorSelect !== "" && preferredDoctorSelect !== "Select Doctor" && dateInput !== "") {
            document.getElementById("selectDoctorDate").submit();
        }     
    }
</script>
