@page
@model MRMS.Pages.Appointments.CreateModel

@{
    if (User.IsInRole("patient"))
    {
        ViewData["Title"] = "Request Appointment";
    }
    else
    {
        ViewData["Title"] = "Create Appointment";
    }
}

<h1>@ViewData["Title"]</h1>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-page-handler="DoctorDateSelection" id="selectDoctorDate">
                <div class="form-group">
                    <label asp-for="Appointment.PreferredDoctorId" class="control-label">Preferred Doctor</label>
                    <select asp-for="Appointment.PreferredDoctorId" class="form-control" id="preferredDoctorSelect" onchange="submitForm()">
                        <option value="">Select Doctor</option>
                        @foreach (var doctor in Model.Doctors)
                        {
                            <option value="@doctor.Id">@doctor.FirstName @doctor.LastName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Date</label>
                    <input type="date" asp-for="Date" class="form-control" id="dateInput" onchange="submitForm()" />
                    <input type="hidden" name="doctorId" id="doctorIdInput" />
                </div>
            </form>
            <form method="post" asp-page-handler="OnPostAsync">
                <input id="patientIdInput" name="patientId" type="hidden"/>
                @if(!User.IsInRole("patient") && Model.Patients != null)
                {
                <div class="form-group">
                    <label  class="control-label">Patient</label>
                    <select class="form-control" id="patientSelect" onchange="setPatientId()">
                        <option value="">Select Patient</option>
                        @foreach (var patient in Model.Patients)
                        {
                            <option value="@patient.Id">@patient.FirstName @patient.LastName</option>
                        }
                    </select>
                </div>
                }         
                <input asp-for="Appointment.PreferredDoctorId" type="hidden"/>
                <input asp-for="Date" type="hidden"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @if (Model.AvailableTimeSlots != null)
                {
                    <div class="form-group">                   
                        <label asp-for="Time" class="control-label">Time</label>
                        <select asp-for="Time" class="form-control">
                            <option value="">Select Time</option>
                            @foreach (var time in Model.AvailableTimeSlots)
                            {
                                <option value="@time.StartTime">@time.StartTime.ToShortTimeString()</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Appointment.Reason" class="control-label"></label>
                    <input asp-for="Appointment.Reason" class="form-control" />
                    <span asp-validation-for="Appointment.Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.SpecialAccomodations" class="control-label">Special Accomodations</label>
                    <input asp-for="Appointment.SpecialAccomodations" class="form-control" />
                    <span asp-validation-for="Appointment.SpecialAccomodations" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <input type="submit" value="Request" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Back to Appointments</a>
    </div>

<script>
    function submitForm() {
        var preferredDoctorSelect = document.getElementById('preferredDoctorSelect').value;
        var dateInput = document.getElementById('dateInput').value;

        if (preferredDoctorSelect !== "" && preferredDoctorSelect !== "Select Doctor" && dateInput !== "") {          
            document.getElementById('doctorIdInput').value = preferredDoctorSelect;
            document.getElementById("selectDoctorDate").submit();
        }     
    }

    function setPatientId() {
        var patientSelect = document.getElementById('patientSelect').value;

        if (patientSelect !== "" && patientSelect !== "Select Patient") { 
            document.getElementById('patientIdInput').value = patientSelect;
        }
    }
</script>
