@page
@using MRMS.Models;
@model MRMS.Pages.Appointments.DeleteModel

@{
    ViewData["Title"] = "Delete Appointment";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        @{
          User doctor = Model.Doctors.FirstOrDefault(d => d.Id == Model.Appointment.PreferredDoctorId);
          User patient = Model.Patients.FirstOrDefault(p => p.Id == Model.Appointment.PatientId);
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.PreferredDoctorId)
        </dt>
        <dd class="col-sm-10">
            @doctor.FirstName @doctor.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.PatientId)
        </dt>
        <dd class="col-sm-10">
           @patient.FirstName @patient.LastName
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.EndTime)
        </dd>
        @if (Model.Appointment.SpecialAccomodations != null && Model.Appointment.SpecialAccomodations != "")
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Appointment.SpecialAccomodations)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Appointment.SpecialAccomodations)
        </dd>
        }
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Appointment.AppointmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to Appointments List</a>
    </form>
</div>
