@page
@using MRMS.Models;
@model MRMS.Pages.Consultations.DetailsModel

@{
    ViewData["Title"] = "Consultation Details";
}

<h1>@ViewData["Title"]</h1>

    <div>
        <hr />
        <dl class="row">
            @{
                User nurse = Model.Nurses.FirstOrDefault(n => n.Id == Model.Consultation.NurseId);
                User doctor = Model.Doctors.FirstOrDefault(d => d.Id == Model.Consultation.DoctorId);
            <dt class="col-sm-2">
                Doctor
            </dt>
            <dd class="col-sm-10">
                @doctor.FirstName @doctor.LastName
            </dd>
            <dt class="col-sm-2">
                Nurse
            </dt>
            <dd class="col-sm-10">
                @nurse.FirstName @nurse.LastName
            </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Consultation.PatientHistory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consultation.PatientHistory)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Consultation.ExamDetails)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consultation.ExamDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Consultation.CarePlan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consultation.CarePlan)
            </dd>
            @if (Model.Consultation.Comments != null && Model.Consultation.Comments != "")
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Consultation.Comments)
                </dt>         
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Consultation.Comments)
            </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Consultation.Diagnosis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consultation.Diagnosis)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Index">Back to Past Consultations</a>
    </div>