@page
@model MRMS.Pages.Consultations.DetailsModel

@{
    ViewData["Title"] = "Consultation Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.AppointmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.AppointmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.DoctorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.NurseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.NurseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.PatientHistory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.PatientHistory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.ExamDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.ExamDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.CarePlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.CarePlan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Diagnosis)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Consultation?.ConsultationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
