@page
@using MRMS.Models;
@model MRMS.Pages.Consultations.IndexModel



@{
    ViewData["Title"] = "Consultations";
}


<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("patient"))
{
    <div class="d-flex p-2 bd-highlight">
        @foreach (var item in Model.Consultation)
        {
            <div class="card m-3 text-white bg-secondary" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.PatientHistory)</h5>
                    <p class="card-text">
                        @{
                            if (item.AppointmentId != 999)
                            {
                                Appointment appointment = Model.Appointments.FirstOrDefault(a => a.AppointmentId == item.AppointmentId);
                                <span><b>Appointment:</b> @appointment.StartTime:<br>  @appointment.Reason</span>
                                <br/>
                                User nurse = Model.Nurses.FirstOrDefault(d => d.Id == item.NurseId);
                                <span><b>Nurse:</b> @nurse.FirstName @nurse.LastName</span>
                                <br />
                                User doctor = Model.Doctors.FirstOrDefault(d => d.Id == item.DoctorId);
                                <span><b>Doctor:</b> @doctor.FirstName @doctor.LastName</span>
                            }else
                            {
                                ExternalConsultation externalConsultation = Model.ExternalConsultations.FirstOrDefault(e => e.ExternalConsultationId == item.ExternalConsultationId);
                                <span><b>Appointment:</b> @externalConsultation.Date:<br> External Consultation</span>
                                <br/>
                                <span><b>Nurse:</b> @externalConsultation.NurseName</span>
                                <br/>
                                <span><b>Doctor:</b> @externalConsultation.DoctorName</span>
                            }
                        }
                    </p>
                    <a class="btn btn-light" asp-page="./Details" asp-route-id="@item.ConsultationId">Details</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>
        <a class="btn btn-primary" asp-page="Create">New Consultation</a>
        <a class="btn btn-primary" asp-page="../BloodTests/Create">Order Blood Test</a>
        <a class="btn btn-primary" asp-page="../Prescriptions/Create">Prescribe Medication</a>
    </div>
    <br />
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].AppointmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].DoctorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].NurseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].PatientHistory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].ExamDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].CarePlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].Diagnosis)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Consultation)
            {
                <tr>
                    @{
                        if(item.AppointmentId == 999)
                        {
                            ExternalConsultation externalConsultation = Model.ExternalConsultations.FirstOrDefault(e => e.ExternalConsultationId == item.ExternalConsultationId);
                            <td>
                               @externalConsultation.Date:<br> @externalConsultation.PatientName - External Consultation
                            </td>
                            <td>
                                @externalConsultation.DoctorName
                            </td>
                            <td>
                                @externalConsultation.NurseName
                            </td>
                        }
                        else {
                        Appointment appointment = Model.Appointments.FirstOrDefault(a => a.AppointmentId == item.AppointmentId);
                        User patient = Model.Patients.FirstOrDefault(p => p.Id == appointment.PatientId);
                        <td>
                            @appointment.StartTime:<br> @patient.FirstName @patient.LastName - @appointment.Reason
                        </td>
                        User doctor = Model.Doctors.FirstOrDefault(d => d.Id == item.DoctorId);
                        <td>
                            @doctor.FirstName @doctor.LastName
                        </td>
                        User nurse = Model.Nurses.FirstOrDefault(d => d.Id == item.NurseId);
                        <td>
                            @nurse.FirstName @nurse.LastName
                        </td>
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientHistory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarePlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnosis)
                    </td>
                    @if (item.AppointmentId != 999)
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ConsultationId">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ConsultationId">Delete</a>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
