@page
@using MRMS.Models;
@model MRMS.Pages.Consultations.IndexModel

@if (User.IsInRole("patient"))
{
    ViewData["Title"] = "Past Consultations";
}
else
{
    ViewData["Title"] = "Consultations";
}

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("patient"))
{
    <div class="d-flex p-2 bd-highlight">
        @foreach (var item in Model.Consultation)
        {
            <div class="card m-3 text-white bg-secondary" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.PatientHistory)</h5>
                    <p class="card-text">
                        @{
                            User nurse = Model.Nurses.FirstOrDefault(d => d.Id == item.NurseId);
                            <span><b>Nurse:</b> @nurse.FirstName @nurse.LastName</span>
                            <br />
                            User doctor = Model.Doctors.FirstOrDefault(d => d.Id == item.DoctorId);
                            <span><b>Doctor:</b> @doctor.FirstName @doctor.LastName</span>
                        }
                    </p>
                    <a class="btn btn-light" asp-page="./Details" asp-route-id="@item.ConsultationId">Details</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>
        <a asp-page="Create">New Consultation</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].DoctorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].NurseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].PatientHistory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].ExamDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].CarePlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consultation[0].Diagnosis)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Consultation)
            {
                <tr>
                    @{
                        User doctor = Model.Doctors.FirstOrDefault(d => d.Id == item.DoctorId);
                        <td>
                            @doctor.FirstName @doctor.LastName
                        </td>
                        User nurse = Model.Nurses.FirstOrDefault(d => d.Id == item.NurseId);
                        <td>
                            @nurse.FirstName @nurse.LastName
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientHistory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarePlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnosis)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ConsultationId">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ConsultationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
