@page
@using MRMS.Models;
@model MRMS.Pages.Prescriptions.IndexModel

@{
    ViewData["Title"] = "Prescriptions";
}

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("patient"))
{
    <div class="d-flex p-2 bd-highlight">
        @foreach (var item in Model.Prescription)
        {
            bool RepeatPrescriptionRequested = Model.RepeatPrescriptions.Any(r => r.PrescriptionId == item.PrescriptionId);
            RepeatPrescription repeatPrescription = null;
            if (RepeatPrescriptionRequested)
            {
                repeatPrescription = Model.RepeatPrescriptions.FirstOrDefault(r => r.PrescriptionId == item.PrescriptionId);
            }
            <div class="card m-3 text-dark bg-warning" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Medication)</h5>
                    <p class="card-text">
                        <b>Dosage:</b> @Html.DisplayFor(modelItem => item.DoseQuantity) @Html.DisplayFor(model=> item.DoseQuantityUnits)<br />
                        <b>Frequency:</b> @Html.DisplayFor(modelItem => item.DoseFrequency)<br />
                        <b>Strength:</b> @Html.DisplayFor(modelItem => item.DoseStrength) @Html.DisplayFor(model=> item.DoseStrengthUnits)<br />
                        <b>Date Prescribed:</b> @item.Date.ToShortDateString()<br />
                    </p>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-light" asp-page="./Details" asp-route-id="@item.PrescriptionId">Details</a>
                        </div>
                        <div class="col-auto">
                            @if (RepeatPrescriptionRequested && repeatPrescription.Granted != true)
                            {
                                <span class="badge bg-secondary">Repeat Prescription Requested</span>
                            }
                            else if (RepeatPrescriptionRequested && repeatPrescription.Granted)
                            {
                                <span class="badge bg-success">Repeat Prescription Granted</span>
                            }
                            else
                            {
                                <a asp-page="./Repeat" asp-route-id="@item.PrescriptionId" class="btn btn-secondary mt-2" asp-route-id="@item.PrescriptionId">Request Repeat Prescription</a>
                            }
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}
else
{
    <p>
        <a asp-page="Create">Prescribe Medication</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].ConsultationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].Medication)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].DoseQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].DoseFrequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].DoseStrength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].TotalQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].Refills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prescription[0].Duration)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Prescription)
            {
                <tr>
                    @{
                        Consultation consultation = Model.AllConsultations.FirstOrDefault(a => a.ConsultationId == item.ConsultationId);
                        Appointment appointment = Model.AllAppointments.FirstOrDefault(a => a.AppointmentId == consultation.AppointmentId);
                        User patient = Model.Patients.FirstOrDefault(p => p.Id == appointment.PatientId);
                        User doctor = Model.Doctors.FirstOrDefault(d => d.Id == consultation.DoctorId);
                        bool RepeatPrescriptionRequested = Model.RepeatPrescriptions.Any(r => r.PrescriptionId == item.PrescriptionId);
                        RepeatPrescription repeatPrescription = null;
                        <td>
                            Doctor: @doctor.FirstName @doctor.LastName, Patient: @patient.FirstName @patient.LastName - @consultation.Diagnosis
                        </td>     
                }
                if (RepeatPrescriptionRequested)
                {
                    repeatPrescription = Model.RepeatPrescriptions.FirstOrDefault(r => r.PrescriptionId == item.PrescriptionId);
                }
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoseQuantity) @Html.DisplayFor(modelItem=> item.DoseQuantityUnits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoseFrequency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoseStrength) @Html.DisplayFor(modelItem=> item.DoseStrengthUnits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalQuantity) @Html.DisplayFor(modelItem=> item.DoseQuantityUnits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Refills)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.PrescriptionId">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.PrescriptionId">Delete</a>
                        @if (RepeatPrescriptionRequested && repeatPrescription.Granted != true)
                        {
                            <form asp-page-handler="GrantPrescription" method="post">
                                <input type="hidden" name="id" value="@item.PrescriptionId" />
                                <button class="btn btn-primary">Grant Repeat Prescription</button>
                            </form>
                        }
                        else if (RepeatPrescriptionRequested && repeatPrescription.Granted)
                        {
                            <span class="badge bg-success">Repeat Prescription Granted</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}