@page
@model MRMS.Pages.Prescriptions.IndexModel

@{
    ViewData["Title"] = "Prescriptions";
}

<h1>@ViewData["Title"]</h1>
@if(User.IsInRole("patient"))
{
    <div class="d-flex p-2 bd-highlight">
        @foreach (var item in Model.Prescription)
        {
            <div class="card m-3 text-dark bg-warning" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Medication)</h5>
                    <p class="card-text">
                        <b>Dosage:</b> @Html.DisplayFor(modelItem => item.DoseQuantity) @Html.DisplayFor(model=> item.DoseQuantityUnits)<br />
                        <b>Frequency:</b> @Html.DisplayFor(modelItem => item.DoseFrequency)<br />
                        <b>Strength:</b> @Html.DisplayFor(modelItem => item.DoseStrength) @Html.DisplayFor(model=> item.DoseStrengthUnits)<br />
                        <b>Date Prescribed:</b> @item.Date.ToShortDateString()<br />
                    </p>
                    <a class="btn btn-light" asp-page="./Details" asp-route-id="@item.PrescriptionId">Details</a>
                </div>
            </div>
        }
    </div>
}else{
<p>
    <a asp-page="Create">Prescribe Medication</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].Medication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].DoseQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].DoseFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].DoseStrength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].Refills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription[0].Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prescription) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoseQuantity) @Html.DisplayFor(modelItem=> item.DoseQuantityUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoseFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoseStrength) @Html.DisplayFor(modelItem=> item.DoseStrengthUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity) @Html.DisplayFor(modelItem=> item.DoseQuantityUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) days
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PrescriptionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PrescriptionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PrescriptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}