@page
@using MRMS.Models;
@model MRMS.Pages.BloodTests.IndexModel

@if(User.IsInRole("patient")){
    ViewData["Title"] = "Past Blood Tests";
}
else
{
    ViewData["Title"] = "Blood Tests";
}

<h1>@ViewData["Title"]</h1>
@if(User.IsInRole("patient"))
{
    <div class="d-flex p-2 bd-highlight">
        @foreach (var item in Model.BloodTest)
        {
            <div class="card m-3 text-dark bg-info" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Comments)</h5>
                    <p class="card-text">
                        @{
                            User bloodTestStaff = Model.Staff.FirstOrDefault(d => d.Id == item.PerformedById);
                            <span><b>Performed By:</b> @bloodTestStaff.FirstName @bloodTestStaff.LastName</span>
                            <br />
                        }                    
                        <b>Performed:</b> @Html.DisplayFor(modelItem => item.PerformedDate)<br />
                    </p>
                    <a class="btn btn-light" asp-page="./Results" asp-route-id="@item.BloodTestId">Results</a>
                </div>
            </div>
        }
    </div>
}else{
<p>
    <a asp-page="Create">Order Blood Test</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BloodTest[0].BloodTestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodTest[0].ConsultationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodTest[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodTest[0].PerformedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodTest[0].PerformedById)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BloodTest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BloodTestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformedById)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BloodTestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BloodTestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BloodTestId">Delete</a>
                <a asp-page="./Results" asp-route-id="@item.BloodTestId">Results</a>
            </td>
        </tr>
}
    </tbody>
</table>
}