@page
@using MRMS.Models;
@model MRMS.Pages.BloodTests.IndexModel

 @{
     ViewData["Title"] = "Blood Tests";
     }

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("patient"))
{
    <div class="d-flex p-2 bd-highlight">
        @foreach (var item in Model.BloodTest)
        {
            <div class="card m-3 text-dark bg-info" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Comments)</h5>
                    <p class="card-text">
                        @{
                            if(item.ExternalBloodTestId != null)
                            {
                                ExternalBloodTest externalBloodTest = Model.ExternalBloodTests.FirstOrDefault(e => e.ExternalBloodTestId == item.ExternalBloodTestId);
                                <span><b>Consultation:</b> Dr. @externalBloodTest.DoctorName - External Consultation</span>
                                <br/>
                                <span><b>Performed By:</b> @externalBloodTest.PerformedBy</span>
                                <br />
                                <span><b>Performed:</b> @externalBloodTest.PerformedDate</span>
                            }else
                            {
                                User bloodTestStaff = Model.Staff.FirstOrDefault(d => d.Id == item.PerformedById);
                                BloodTest bloodTest = Model.BloodTest.FirstOrDefault(b => b.BloodTestId == item.BloodTestId);
                                Consultation consultation = Model.AllConsultations.FirstOrDefault(a => a.ConsultationId == bloodTest.ConsultationId);
                                User doctor = Model.Doctors.FirstOrDefault(d => d.Id == consultation.DoctorId);
                                <span><b>Consultation:</b> Dr. @doctor.FirstName @doctor.LastName - @consultation.Diagnosis</span>
                                <br/>
                                <span><b>Performed By:</b> @bloodTestStaff.FirstName @bloodTestStaff.LastName</span>
                                <br />
                                <span><b>Performed:</b> @Html.DisplayFor(modelItem => item.PerformedDate)</span>
                            }
                            <br />
                        }
                    </p>
                    <a class="btn btn-light" asp-page="./Results" asp-route-id="@item.BloodTestId">Results</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>
        <a asp-page="Create">Order Blood Test</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BloodTest[0].ConsultationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodTest[0].Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodTest[0].PerformedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodTest[0].PerformedById)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BloodTest)
            {
                <tr>
                    @{
                        ExternalBloodTest externalBloodTest;
                        if (item.ExternalBloodTestId != null)
                        {
                            externalBloodTest = Model.ExternalBloodTests.FirstOrDefault(e => e.ExternalBloodTestId == item.ExternalBloodTestId);
                            <td>
                                Doctor: @externalBloodTest.DoctorName, Patient: @externalBloodTest.PatientName - External Consultation
                            </td>
                        }
                        else
                        {
                            Consultation consultation = Model.AllConsultations.FirstOrDefault(a => a.ConsultationId == item.ConsultationId);
                            Appointment appointment = Model.AllAppointments.FirstOrDefault(a => a.AppointmentId == consultation.AppointmentId);
                            User patient = Model.Patients.FirstOrDefault(p => p.Id == appointment.PatientId);
                            User doctor = Model.Doctors.FirstOrDefault(d => d.Id == consultation.DoctorId);
                            <td>
                                Doctor: @doctor.FirstName @doctor.LastName, Patient: @patient.FirstName @patient.LastName - @consultation.Diagnosis
                            </td>
                        }
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerformedDate)
                        </td>
                        if (item.ExternalBloodTestId != null)
                        {
                           
                            <td>
                                
                            </td>
                        }
                        else
                        {
                            User bloodTestStaff = Model.Staff.FirstOrDefault(d => d.Id == item.PerformedById);
                            <td>
                                @bloodTestStaff.FirstName @bloodTestStaff.LastName
                            </td>
                        }
                    <td>
                        <a asp-page="./Results" asp-route-id="@item.BloodTestId">Results</a>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}