@page
@using MRMS.Models;
@model MRMS.Pages.BloodTests.ResultsModel

@{
    ViewData["Title"] = "Blood Test Results";
}

<h1>@ViewData["Title"]</h1>
<div>
    <hr />
    <dl class="row">
        @{
            BloodTest bloodTest = Model.AllBloodTests.FirstOrDefault(a => a.BloodTestId == Model.BloodTestResult.BloodTestId);
            Consultation consultation = Model.AllConsultations.FirstOrDefault(a => a.ConsultationId == bloodTest.ConsultationId);
            Appointment appointment = Model.AllAppointments.FirstOrDefault(a => a.AppointmentId == consultation.AppointmentId);
            User patient = Model.Patients.FirstOrDefault(p => p.Id == appointment.PatientId);
            User doctor = Model.Doctors.FirstOrDefault(d => d.Id == consultation.DoctorId);
        <dt class="col-sm-2">
            Consultation
        </dt>
        <dd class="col-sm-10">
            Doctor: @doctor.FirstName @doctor.LastName, Patient: @patient.FirstName @patient.LastName - @consultation.Diagnosis - @appointment.StartTime
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTestResult.redBloodCellCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.redBloodCellCount) million cells/μL
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTestResult.whiteBloodCellCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.whiteBloodCellCount) thousand cells/μL
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTestResult.plateletCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.plateletCount) thousand platelets/μL
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTestResult.glucoseLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.glucoseLevel) mg/dL
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodTestResult.cholestorolLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.cholestorolLevel) mg/dL
        </dd>
        <dt class="col-sm-2">
            ALT (Liver Function)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.liverFunction) U/L
        </dd>
        <dt class="col-sm-2">
            Creatinine (Kidney Function)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodTestResult.kidneyFunction) mg/dL
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Past Blood Tests</a>
</div>


